body {
    background-color: black;
    background-image: linear-gradient(rgb(19, 19, 19), #505050);
    text-align: center;
}

.homeBackground{
    min-height: 50vh;
}

.aboutmeBackground{
    min-height: 95vh;
}

.skillsBackground{
    min-height:150vh
}

.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 175px;
    width: 200px;
    height: auto;
}

.name{
    color: white;
    font-family:'Franklin Gothic Book';
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.smallDescription{
    color: white;
    font-family:'Franklin Gothic Book';
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.socialIcon{
    height: 50px;
    width: auto;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 110px;
}

.aboutMe{
    color: white;
    font-family:'Franklin Gothic Book';
}

.aboutMeDescription{
    margin-left: 350px;
    margin-right: 350px;
    color: white;
    font-family:'Franklin Gothic Book';
}

.firstLogo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    margin-top: -130px;
    margin-left: 50px;
}

.teamLogo{
    width: 155px;
    height: 155px;
    float: left;
    margin-top: -45px;
    margin-left: 110px;
}

.backRoboPic{
    width: 175px;
    height: 175px;
    float: right;
    border-radius: 50%;
    margin-right: 40px;
    margin-top: -180px;
}

.girlsEvent{
    width: 115px;
    height: 115px;
    float: right;
    border-radius: 50%;
    margin-top: -15px;
    margin-right: 150px;
}

.futurePlans{
    margin-top: 50px;
    color: white;
    font-family:'Franklin Gothic Book';
}

.futurePlansDescription{
    margin-left: 350px;
    margin-right: 350px;
    color: white;
    font-family:'Franklin Gothic Book';
}

.skills{
    color: white;
    font-family:'Franklin Gothic Book';
    margin-top: 135px;
}

* {box-sizing:border-box}

.container {
    width: 35%;
    background-color: #ddd;
}

.python{width: 80%; background-color: #4D4D4D; border: 2pt solid black}
.cpp{width: 65%; background-color: #3B3B3B; border: 2pt solid black}
.c{width: 75%; background-color: #292929; border: 2pt solid black}
.java{width: 25%; background-color: #212121; border: 2pt solid black}
.html{width: 55%; background-color: #121212; border: 2pt solid black}

.toTop{
    display: block;
    color: white;
    background-color: black;
    height: 30px;
    width: 150px;
    font-size: 20px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 20px;
}

/* list for nav bar */
ul{
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: relative;
    font-family:'Franklin Gothic Book';
}

li{ 
    display: inline-block;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

li a:hover {
    background-color: rgb(100, 100, 100);
}