body {
    background-color: #1B1B1B;
    /* background-image: linear-gradient(rgb(19, 19, 19), #1B1B1B, #303030); */
    text-align: center;
}

.homeBackground{
    min-height: 50vh;
}

.aboutmeBackground{
    min-height: 95vh;
}

.skillsBackground{
    min-height:100vh
}

.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 175px;
    width: 200px;
    height: auto;
}

.name{
    color: white;
    font-family:'Franklin Gothic Book';
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.smallDescription{
    color: white;
    font-family:'Franklin Gothic Book';
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.socialIcon{
    height: 50px;
    width: auto;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 110px;
}

.aboutMe{
    color: white;
    font-family:'Franklin Gothic Book';
}

.aboutMeDescription{
    margin-left: 350px;
    margin-right: 350px;
    color: white;
    font-family:'Franklin Gothic Book';
}

.futurePlans{
    margin-top: 50px;
    color: white;
    font-family:'Franklin Gothic Book';
}

.futurePlansDescription{
    margin-left: 350px;
    margin-right: 350px;
    color: white;
    font-family:'Franklin Gothic Book';
}

.firstLogo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

.teamLogo{
    width: 155px;
    height: 155px;
    margin-top: 50px;
}

.backRoboPic{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-top: 50px;
}

.girlsEvent{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-top: 50px;
}


.skills{
    color: white;
    font-family:'Franklin Gothic Book';
    margin-top: 135px;
    margin-bottom: 25px;
}

* {box-sizing:border-box}

.container {
    width: 20%;
    background-color: #ddd;
    margin-left: auto; margin-right: auto;
    border-radius: 25px;
}

.pythonTitle{color: white; font-family:'Franklin Gothic Book'; margin-bottom: 10}
.cppTitle{color: white; font-family:'Franklin Gothic Book'; margin-bottom: 10}
.cTitle{color: white; font-family:'Franklin Gothic Book'; margin-bottom: 10}
.javaTitle{color: white; font-family:'Franklin Gothic Book'; margin-bottom: 10}
.htmlTitle{color: white; font-family:'Franklin Gothic Book'; margin-bottom: 10}

.python{width: 80%; background-color: #676767; border: 2pt solid black; margin-top: 0; border-radius: 25px}
.cpp{width: 65%; background-color: #4f4f4f; border: 2pt solid black; margin-top: 0; border-radius: 25px}
.c{width: 75%; background-color: #383838; border: 2pt solid black; margin-top: 0; border-radius: 25px}
.java{width: 25%; background-color: #232323; border: 2pt solid black; margin-top: 0; border-radius: 25px}
.html{width: 55%; background-color: #0d0d0d; border: 2pt solid black; margin-top: 0; border-radius: 25px}

.pythonLogo{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -395px;
    margin-left: 570px;
}

.cppLogo{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -310px;
    margin-right: 570px;
}

.cLogo{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -225px;
    margin-left: 570px;
}

.javaLogo{
    width: 75px;
    height: 75px;
    float: right;
    margin-top: -165px;
    margin-right: 570px;
}

.htmlLogo{
    width: px;
    height: 50px;
    float: left;
    margin-top: -65px;
    margin-left: 550px;
}

.toTop{
    display: block;
    color: white;
    background-color: black;
    height: 30px;
    width: 150px;
    font-size: 20px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 20px;
}

/* list for nav bar */
ul{
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: relative;
    font-family:'Franklin Gothic Book';
}

li{ 
    display: inline-block;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

li a:hover {
    background-color: rgb(100, 100, 100);
}