html {
    scroll-behavior: smooth;
}

body {
    background-color: #1B1B1B;
    font-family: Franklin Gothic Book; 
    color: white;
    text-align: center;
}

/* nav bar backgrounds */
.homeBackground{
    min-height: 50vh;
}

.aboutmeBackground{
    min-height: 95vh;
}

.skillsBackground{
    min-height:105vh
}

.educationBackground{
    min-height: 100vh;
}

/* name art */
.nameArt{
    width: 50px;
    height: 50px;
    margin-left: -1500px;
    margin-top: -75px;
}

/* home section */
.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 175px;
    width: 200px;
    height: auto;
}

.name{
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline-block;
}

.smallDescription{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.socialIcon{
    height: 50px;
    width: auto;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 110px;
}

/* about me section */
.aboutMeDescription{
    margin-left: 350px;
    margin-right: 350px;
}

.futurePlans{
    margin-top: 50px;
}

.futurePlansDescription{
    margin-left: 350px;
    margin-right: 350px;
}

.firstLogo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

.teamLogo{
    width: 155px;
    height: 155px;
    margin-top: 50px;
}

.backRoboPic{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-top: 50px;
}

.girlsEvent{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-top: 50px;
}

.aboutmeDivider{
    margin-top: -50px;
}

/* skills section */
.skills{
    margin-bottom: 25px;
}

* {box-sizing:border-box}

.container {
    width: 20%;
    background-color: #646464;
    margin-left: auto; margin-right: auto;
    border-radius: 25px;
}

.pythonTitle{margin-bottom: 10; margin-top: 50px}
.cppTitle{margin-bottom: 10}
.cTitle{margin-bottom: 10}
.javaTitle{margin-bottom: 10}
.htmlTitle{margin-bottom: 10}

.python{width: 80%; background-color: black; border: 2pt solid black; margin-top: 0; border-radius: 25px}
.cpp{width: 65%; background-color: black; border: 2pt solid black; margin-top: 0; border-radius: 25px}
.c{width: 75%; background-color: black; border: 2pt solid black; margin-top: 0; border-radius: 25px}
.java{width: 25%; background-color: black; border: 2pt solid black; margin-top: 0; border-radius: 25px}
.html{width: 55%; background-color: black; border: 2pt solid black; margin-top: 0; border-radius: 25px}

.pythonLogo{
    width: auto;
    height: 50px;
    float: left;
    margin-top: -395px;
    margin-left: 530px;
}

.cppLogo{
    width: auto;
    height: 50px;
    float: right;
    margin-top: -310px;
    margin-right: 530px;
}

.cLogo{
    width: auto;
    height: 50px;
    float: left;
    margin-top: -225px;
    margin-left: 530px;
}

.javaLogo{
    width: auto;
    height: 75px;
    float: right;
    margin-top: -165px;
    margin-right: 520px;
}

.htmlLogo{
    width: auto;
    height: 50px;
    float: left;
    margin-top: -65px;
    margin-left: 510px;
}

.skillsDivider{
    margin-top: 140px;
}

/* education section */
.column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.sandwichLogo{
    width: 125px;
    height: auto;
    margin-top: 25px;
}

.universityLogo{
    width: 125px;
    height: auto;
    margin-top: 25px;
}

.shsmLogo{
    width: auto;
    height: 125px;
    margin-top: 35px;
    margin-bottom: 15px;
}

/* to top button */
.toTop{
    display: block;
    color: white;
    background-color: black;
    height: 30px;
    width: 150px;
    font-size: 20px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 20px;
}

/* list for nav bar */
ul{
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: relative;
}

li{ 
    display: inline-block;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

li a:hover {
    background-color: #646464;
}